@{
    ViewData["Title"] = "Script Test";
}

<h1>Script Test Page</h1>
<p>If you see an alert, the Scripts section is working.</p>

@section Scripts {
    <script>
        alert("TEST: Scripts section works!");
        console.log("TEST: Console logging works!");
    </script>
}
